# Variables recommandées avant mise en ligne
MANDATE_SECRET_KEY=change_me_to_a_long_random_secret
FLASK_SECRET=change_me_too
ORG_WEBSITE=https://www.renaitredenouveau.org
ORG_EMAIL=contact@renaitredenouveau.org
ORG_PHONE=+33 7 51 40 71 88
ORG_CITY=Strasbourg
ORG_COUNTRY=France
REGISTRE_ASSOCIATION=Référence officielle à compléter
PRESIDENT_NAME=Romuald HOUNYEME
BASE_VERIFY_URL=https://www.renaitredenouveau.org/verify
ADMIN_USERNAME=admin
ADMIN_PASSWORD=change_this_password
